{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Store</title>
    <link rel="icon" type="png" href="{% static 'core/img/logo encabezado.png' %}">
    <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <div id="header1">
        <div id="logo">
            <img src="{% static 'core/img//logo pequeño.png' %}" alt="logop" style="margin: 0 0 0 0; width: 35%;">
           </div> 
           <!-- <div id="logh" hidden><img src="{% static 'core/img//logo.png' %}" alt=""> </div> -->
           <div id="logh"><img src="{% static 'core/img//logo.png' %}" alt="logo" style="width: 35%"></div>
         
        <div id="menu">

          
            
       

            
            <div id="vercom">
                <button type="submit" class="btn btn-btn-light" >
                <a href="{% url 'productos' %}">Producto</a>
            </button>
            </div>

            <div id="iniciar">
              <button type="submit" class="btn btn-btn-light" >
                {% if user.is_authenticated %}
                <a href="{% url 'suscripciones' %}">Suscripción</a>
                &nbsp;
                <a href="{% url 'vercompras' %}">Mis Compras</a>
                {{user.username}}&nbsp;
                <a href="{% url 'logout' %}">Cerrar sesión</a>
                &nbsp;
                <div id="carrito">
                  <!-- Button trigger modal -->
                  <button type="submit" class="btn btn-btn-light" data-bs-toggle="modal"
                      data-bs-target="#exampleModal1">
                      <a href="#"><img src="{% static 'core/img/carro.png' %}" width="30px" alt=""></a>
                  </button>
                  <div id="modal-body">
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Carrito De Compras</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                  </div>
                                  <div id="carrito-modal-body">
                                      <div class="modal-body">
                                        <div class="contener">
                                          <table class="carrito">
                                              <thead>
                                                  <tr>
                                                  <th scope="col">ID PRODUCTO</th>
                                                  <th scope="col">NOMBRE</th>
                                                  <th scope="col">MARCA</th>
                                                  <th scope="col">PRECIO</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                  <td data-label="ID PRODUCTO">#30</td>
                                                  <td data-label="NOMBRE">Correa de perro</td>
                                                  <td data-label="MARCA">Ownat</td>
                                                  <td data-label="PRECIO">$15.000</td>
                                                  <td><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button></td> 
                                                  </tr>
                                                  <tr>
                                                      <td data-label="ID PRODUCTO">#54</td>
                                                  <td data-label="NOMBRE">Identificador</td>
                                                  <td data-label="MARCA">Acana</td>
                                                  <td data-label="PRECIO">$2.500</td>
                                                  <td><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button></td> 
                                                  </tr>
                                                  <tr>
                                                      <td data-label="ID PRODUCTO">#45</td>
                                                  <td data-label="NOMBRE">Bandana</td>
                                                  <td data-label="MARCA">petDafe</td>
                                                  <td data-label="PRECIO">$3.000</td>
                                                  <td><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button></td> 
                                                  </tr>
                                                  <td data-label="ID PRODUCTO">ㅤ</td>
                                                  <td data-label="NOMBRE">ㅤ</td>
                                                  <td data-label="SUBTOTAL"><hp>SUBTOTAL</Hp></td>
                                                  <td data-label="VALOR"><hp>$20.500</Hp></td>  
                                                    <td data-label="DELETE">ㅤ</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                          data-bs-dismiss="modal">Cerrar</button>
                                          <a class="btn btn-dark" href="pagar.html" role="button">Ir a Pagar</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                {% else %}
                <a href="{% url 'login' %}">Inicias sesión</a>
                {% endif %}
            </button>
          </div>
      

            
            </div>
    </div>
    <div id="header3">
        <div id="barrabusca">
            <div id="logo1">
              <img src="{% static 'core/img/logo.png' %}"  alt="" width="24%">
            </div>
            <div id="header2">
              <div id="barrabusqueda">
              <nav class="navbar">
                <div class="container-fluid"></div> <!-- style="display: flex; justify-content: center; margin: -130px 0 0 95vh; " -->
                    <form class="d-flex">
                      <input id="barra2" class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" required>
                    <button class="btn btn-btn-light" type="submit">Buscar</button>
                  </form>
                </div>
              </nav>
               </div>
            </div>
        </div>
      </button>
      </div>

      <div id="carrusel">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'core/img/carrusel1.png' %}"  class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>¡Ofertas en Bandanas!</h5>
                  <p>Variadeades en Bandanas.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'core/img/carrusel2.png' %}"  class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>¡Ofertas en Identificadores!</h5>
                  <p>Variadeades en Identificadores.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'core/img/carrusel3.png' %}"  class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>¡Ofertas en Correas!</h5>
                  <p>Variadeades en Correas.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <div id="productos">
      
        <div class="card" style="width: 18rem;">
          <img src="{% static 'core/img/articulo1.png' %}"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bandana con diseño</h5>
            <p class="card-text">Bandana con diseño, especial para que tu perrito tenga un look divertido.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Quedan: 12 Unidades.</li>
            <li class="list-group-item">Valor: $5.000.</li>
          </ul>
          <div class="card-body">
            <div id="botonesprodut">
              <a class="btn btn-outline-dark">Añadir a carrito</a>
              <!-- <h6>ㅤ</h6>
              <a href="#" class="btn btn-outline-dark">Ver producto</a> -->
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'core/img/articulo2.png' %}"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bandana multiples colores</h5>
          <p class="card-text">Bandana con colores, ideal para que tu mascota tenga un look veraniego.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Quedan: 15 Unidades.</li>
          <li class="list-group-item">Valor: $3.000.</li>
        </ul>
        <div class="card-body">
          <div id="botonesprodut">
            <a class="btn btn-outline-dark">Añadir a carrito</a>
            <!-- <h6>ㅤ</h6>
            <a href="#" class="btn btn-outline-dark">Ver producto</a> -->
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="{% static 'core/img/articulo4.png' %}"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Identificadores de colores</h5>
        <p class="card-text">Identificadores para tu mascota, para que siempre lleve consigo tu información.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Quedan: 50 Unidades.</li>
        <li class="list-group-item">Valor: $2.000.</li>
      </ul>
      <div class="card-body">
        <div id="botonesprodut">
          <a class="btn btn-outline-dark">Añadir a carrito</a>
          <!-- <h6>ㅤ</h6>
          <a href="#" class="btn btn-outline-dark">Ver producto</a> -->
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{% static 'core/img/articulo5.png' %}"  class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Identificado más grabador</h5>
      <p class="card-text">Identificadores para tu mascota, cuenta con un grabador, para que puedas personalizarlo a tu gusto.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Quedan: 16 Unidades.</li>
      <li class="list-group-item">Valor: $10.000.</li>
    </ul>
    <div class="card-body">
      <div id="botonesprodut">
        <a class="btn btn-outline-dark">Añadir a carrito</a>
        <!-- <h6>ㅤ</h6>
        <a href="#" class="btn btn-outline-dark">Ver producto</a> -->
    </div>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{% static 'core/img/articulo7.png' %}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Arnés para correa</h5>
    <p class="card-text">Arnes para correa, especial para perro grandes.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Quedan: 5 Unidades.</li>
    <li class="list-group-item">Valor: $6.000.</li>
  </ul>
  <div class="card-body">
    <div id="botonesprodut">
      <a class="btn btn-outline-dark">Añadir a carrito</a>
      <!-- <h6>ㅤ</h6>
      <a href="#" class="btn btn-outline-dark">Ver producto</a> -->
  </div>
</div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{% static 'core/img/articulo8.png' %}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Correa retractil</h5>
    <p class="card-text">Correa retráctil de 5 metros, para que tu mascota pueda ser feliz en el parque.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Quedan: 5 Unidades.</li>
    <li class="list-group-item">Valor: $5.000.</li>
  </ul>
  <div class="card-body">
    <div id="botonesprodut">
      <a class="btn btn-outline-dark">Añadir a carrito</a>
      <!-- <h6>ㅤ</h6>
      <a href="#" class="btn btn-outline-dark">Ver producto</a> -->
  </div>
</div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{% static 'core/img/articulo3 OFERTA.png' %}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">BANDANA</h5>
    <p class="card-text">Bandana de telas finas, especial para perros de casa.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Quedan: 7 Unidades.</li>
    <li class="list-group-item">Valor: $15.000.</li>
    <li class="list-group-item">Valor oferta: $9.000.</li>
    <li class="list-group-item">Valido hasta el 23/05/2022.</li>
  </ul>
  <div class="card-body">
    <div id="botonesprodut">
      <a class="btn btn-outline-dark">Añadir a carrito</a>
      <!-- <h6>ㅤ</h6>
      <a href="#" class="btn btn-outline-dark">Ver producto</a> -->
  </div>
</div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{% static 'core/img/articulo9 OFERTA.png' %}"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">CORREA PERRO</h5>
    <p class="card-text">Correa tipo arnés, para que tu mascota pueda estar cómoda al pasear.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Quedan: 3 Unidades.</li>
    <li class="list-group-item">Valor: $6.000.</li>
    <li class="list-group-item">Valor oferta: $3.000.</li>
    <li class="list-group-item">Valido hasta el 12/06/2022.</li>
  </ul>
  <div class="card-body">
    <div id="botonesprodut">
      <a class="btn btn-outline-dark">Añadir a carrito</a>
      <!-- <h6>ㅤ</h6>
      <a href="#" class="btn btn-outline-dark">Ver producto</a> -->
  </div>
</div>
</div> 
        
        
    </div>
    
    <footer>
      <div id="piepag">
        <div id="centro">
          <div class="container">
            <h5> Centro de Ayuda</h5>
            <a href="{% url 'problemasPedido' %}"><span class="otherPage">Problemas con tu pedido</span></a>
            <a href="mailto:pet.store@gmail.com"><span class="otherPage">pet.store@gmail.com</span></a>
        </div>
        </div>
        <div id="Pet">
          <div class="container">
            <h5> Quienes Somos</h5>
            <a href="{% url 'nosotros' %}"><span class="otherPage">Acerca de nosotros</span></a>
        </div>
        </div>
        <div id="redess">
          
            <h5> Redes sociales</h5>
            <a href="https://www.facebook.com/Pet-Store-111594554881435"><img src="{% static 'core/img/facebook.png' %}" alt="" a>
            <a href="https://www.instagram.com/petstore640/"><img src="{% static 'core/img/Instagram.png' %}" alt="" a>
            <a href="https://twitter.com/PETSTORE_1"><img src="{% static 'core/img/twitter.png' %}" alt="" a>
        
        </div>
        

        

      </div>

      <div id="copyr">
       
        <div id="cop"> 
          <div class="container1">
            <a>Copyright © 2022 Pet Storeㅤ|ㅤ</a> 
            <a href="{% url 'terminosycondiciones' %}">Términos y Condicionesㅤ|ㅤ</a>
            <a href="{% url 'terminosycondiciones' %}">Seguridad y Privacidad</a>
        </div>
        </div>
        </div>
        
      
    </footer>
  </body>
  
  </html>